body
{
    background-color: rgb(250, 250, 250);
    color: black;
}

h6 {
    /* On force le footer à devenir clair */
    background-color: rgb(250, 250, 250) !important; 
    color: #333 !important;
}
/* FORCE LE HEADER CLAIR */
header {
    background-color: rgb(250, 250, 250) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05) !important;
    border-bottom: none;
}

header a {
    color: #333 !important;
}

header a:hover {
    color: #ffa726 !important;
}