

/* --- GRILLE DES CARTES (PAYS) --- */
/* --- LE CONTENEUR (La boîte bleue) --- */
.cards-grid {
    display: flex;       /* Active l'alignement côte à côte */
    justify-content: center; /* Centre tout le monde */
    gap: 55px;           /* L'espace que tu veux */
    
    
}

/* --- LES CARTES (Les boîtes vertes) --- */
.card {
    /* C'EST ICI LA CLÉ : */
    width: 30%; /* Chaque carte ne prend que 30% de la place (30+30+30 = 90%, il reste 10% pour les trous) */
    
    /* On s'assure qu'on n'a pas d'autres règles contradictoires */
    flex: none; /* Empêche la carte de s'étirer bizarrement */
    
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    text-decoration: none;
    position: relative;

    
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin: 0;
}
.lists-grid {
    display: flex;
    justify-content: space-between;
}

.list-column {
    flex: 1;
}

.orange-text {
    color: #FFB74D; /* Orange doux */
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: normal;
}

.list-column ul {
    list-style: none;
    padding-left: 5px;
}

.list-column ul li {
    margin-bottom: 8px;
    font-size: 1rem;
    position: relative;
    padding-left: 15px;
}

/* Le petit point noir devant les villes */
.list-column ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    font-weight: bold;
}
